{% extends 'base.html' %}

{% block title %}
    Upload Reviews File
{% endblock %}

{% block body %}
    <div class="container pt-5">
        <h1 class="mt-5">Upload Reviews File</h1>
        <div class="row my-5">
            <div class="col-lg-8">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <i>Only CSV files are allowed.</i>
                    <div class="custom-file">
                        {{ form.document }}
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <h4>Required File Structure</h4>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Url</th>
                    <th scope="col">X times to hit per 24 hours</th>
                    <th scope="col">X times to hit total</th>
                    <th scope="col">Review</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        https://www.target.com/p/bowden-faux-leather-and-metal-dining-chair-project-62-153/-/A-53543244
                    </td>
                    <td>25</td>
                    <td>1000</td>
                    <td>Cute, functional, and inexpensive</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}